<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"rel="stylesheet" />

    <title>MercadoLiebre</title>
</head>
<body>
    
    <header>
    <div class="buscador-logo-compra">
        <img class="imgLogo" src="/images/logo-mercado-liebre.svg" alt="">
       <div class="contenedorBuscador">
        <input type="text" class="buscador" placeholder="buscar productos">
        <button class= "logoBusqueda1"><i class="fas fa-search"></i></button>
       </div>
       <div class="contenedorQuota">
        <p class="quota"><i class="fas fa-hand-holding-usd"></i>Compra en cuotas y sin tarjeta de crédito</p>
        </div>
    </div>
    <div class="contenedorQuota2">
        <p class="quota2"><i class="fas fa-hand-holding-usd"></i>Compra en cuotas y sin tarjeta de crédito</p>
        </div>  
       <nav class="navHeader">
           <ul class="listaHeader">
           <a href=""><li href="">Ofertas</li></a>
           <a href=""><li href="">Tiendas Oficiales</li></a>
           <a href=""><li href="">Vender</li></a>
           <a href=""><li href="">Ayuda</li></a> 
           </ul>
           <ul>
           <a href="/register"><li href="">Creá tu cuenta <i class="far fa-address-card"></i> </li></a>
           <a href="/login"><li href="">Ingresá <i class="fas fa-sign-in-alt"></i></li></a>
           <a href=""><li href="">Mis compras <i class="fas fa-shopping-basket"></i> </li></a>
           </ul>
       </nav>
       <div class="burger-menu">
        <i class="fas fa-bars"></i>
       </div>
    </header>
    <img class="bannerHome" src="/images/img-home-banner.jpg" width="100%";"  alt=""><br><br>

        <h3 class="tituloVisita">Sección basada en tu ultima visita:</h3>

    <main>
        <section class="seccionVisita">
        <article class="contenedorDeProducto">
            <div>
            <img class="imagenDeProducto" src="images/img-cafetera-moulinex.jpg" width="100%" alt="">
            </div>
            <div class="infoContenedor">
            <div class="icon-truck">
                        <i class="fas fa-truck"></i>
            </div>
            <div class="precio-descuento">
            <p class="precio">$6.770</p>
            <p class="descuento">40% off</p>
            </div>
            <h5 class="product-name">Cafetera</h5>
        </div>
        </article>
        <article class="contenedorDeProducto">
            <div>
            <img class="imagenDeProducto" src="/images/img-macbook-pro-2019.jpg" width="100%" alt="">
            </div>
            <div class="infoContenedor">
            <div class="icon-truck">
                        <i class="fas fa-truck"></i>
                    </div>
            <div class="precio-descuento">
            <p class="precio">$2300</p>
            <p class="descuento">20% off</p>
            </div>
            <h5 class="product-name">MacBook</h5>
          </div>
        </article>
    <article class="contenedorDeProducto">
            <div>
            <img class="imagenDeProducto" src="images/img-samsung-galaxy-s10.jpg" width="100%" alt="">
            </div>
            <div class="infoContenedor">
            <div class="icon-truck">
                        <i class="fas fa-truck"></i>
                    </div>
            <div class="precio-descuento">
            <p class="precio">$70.000</p>
            <p class="descuento">10% off</p>
            </div>
            <h5 class="product-name">Samsung Galaxi</h5>
        </div>
    </article>
        <article class="contenedorDeProducto">
            <div>
            <img class="imagenDeProducto" src="images/img-tv-samsung-smart.jpg" width="100%" alt="">
            </div>
            <div class="infoContenedor">
            <div class="icon-truck">
                        <i class="fas fa-truck"></i>
                    </div>
            <div class="precio-descuento">
            <p class="precio">$230.00</p>
            <p class="descuento">20% off</p>
            </div>
            <h5 class="product-name">SmartTV</h5>
            </div>
        </article>
    </section>
        <h3 class="tituloOfertas">Sección de ofertas:</h3><br>
    <section class="seccionOfertas">
        <article class="contenedorDeProducto">
            <div>
            <img class="imagenDeProducto" src="images/img-cafetera-moulinex.jpg" width="100%" alt="">
            </div>
            <div class="infoContenedor">
            <div class="icon-truck">
                        <i class="fas fa-truck"></i>
                    </div>
            <div class="precio-descuento">
            <p class="precio">$6.770</p>
            <p class="descuento">40% off</p>
            </div>
            <h5 class="product-name">Cafetera</h5>
        </div>
        </article>
        <article class="contenedorDeProducto">
            <div>
            <img class="imagenDeProducto" src="images/img-macbook-pro-2019.jpg" width="100%" alt="">
            </div>
            <div class="infoContenedor">
            <div class="icon-truck">
                        <i class="fas fa-truck"></i>
                    </div>
            <div class="precio-descuento">
            <p class="precio">$230.00</p>
            <p class="descuento">20% off</p>
            </div>
            <h5 class="product-name">MacBook</h5>
         </div>       
         </article>
        <article class="contenedorDeProducto">
            <div>
            <img class="imagenDeProducto" src="images/img-samsung-galaxy-s10.jpg" width="100%" alt="">
            </div>
            <div class="infoContenedor">
            <div class="icon-truck">
                        <i class="fas fa-truck"></i>
                    </div>
            <div class="precio-descuento">
            <p class="precio">$70.500</p>
            <p class="descuento">10% off</p>
            </div>
            <h5 class="product-name">Samsung Galaxi</h5>
            </div>
        </div> 
    </section>

    </main>

    <footer>
        <article class="contenedorTarjetaEfectivo">
            <i class="fas fa-credit-card"></i>
        <h3>Pagá con tarjeta o en efectivo</h3>
        <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
            puntos de pago. ¡Y siempre es seguro!</p>
        </article>
        <article class="contenedorEnvio">
            <i class="fas fa-gift"></i>
            <h3>Envío gratis desde $ 2.500</h3>
            <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                productos. Es un beneficio de Mercado Puntos.</p>
        </article>
        <article class="contenedorSeguridad">
            <i class="fas fa-user-shield"></i>
            <h3>Seguridad, de principio a fin</h3>
            <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                porque estás siempre protegid@.</p>
        </article>
        <p class="derechos">Copyright © 1999-2020 MercadoLiebre S.R.L.</p>

    </footer>
</body>
</html>