<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <header>
        <img src="/images/logo-mercado-liebre.svg" alt="">
       <div>
        <input type="text">
        <label for="">buscador</label>
       </div>
       
       <nav>
           <p>Comprá en cuotas y sin tarjeta de credito</p>
           <ul>
           <a href=""><li href="">Ofertas</li></a>
           <a href=""><li href="">Tiendas Oficiales</li></a>
           <a href=""><li href="">Vender</li></a>
           <a href=""><li href="">Ayuda</li></a> <br>

           <a href=""><li href="">Creá tu cuenta</li></a>
           <a href=""><li href="">Ingresá</li></a>
           <a href=""><li href="">Mis compras</li></a>
           </ul>
       </nav>
    </header>

    <main>
        <img src="/images/img-home-banner.jpg" alt=""><br><br>
        <h3>Sección basada en tu ultima visita:</h3>
        <div>
            <img src="/images/img-cafetera-moulinex.jpg" alt="">
            <p>$6.770</p>
            <p>40% off</p>
            <h5>Cafetera Moulinex</h5>
        </div>
        <div>
            <img src="/images/img-macbook-pro-2019.jpg" alt="">
            <p>$6.770</p>
            <p>40% off</p>
            <h5>MacBook</h5>
        </div>
        <div>
            <img src="/images/img-samsung-galaxy-s10.jpg" alt="">
            <p>$6.770</p>
            <p>40% off</p>
            <h5>Samsung Galaxi s10</h5>
        </div>
        <div>
            <img src="/images/img-tv-samsung-smart.jpg" alt="">
            <p>$6.770</p>
            <p>40% off</p>
            <h5>Smart TV</h5>
        </div><br>
        <h3>Sección de ofertas:</h3><br>
        <div>
            <img src="/images/img-cafetera-moulinex.jpg" alt="">
            <p>$6.770</p>
            <p>40% off</p>
            <h5>Cafetera Moulinex</h5>
        </div>
        <div>
            <img src="/images/img-macbook-pro-2019.jpg" alt="">
            <p>$6.770</p>
            <p>40% off</p>
            <h5>MacBook</h5>
        </div>
        <div>
            <img src="/images/img-samsung-galaxy-s10.jpg" alt="">
            <p>$6.770</p>
            <p>40% off</p>
            <h5>Samsung Galaxi s10</h5>
        </div>


    </main>

    <footer>
        <div>
        <h3>Pagá con tarjeta o en efectivo</h3>
        <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
            puntos de pago. ¡Y siempre es seguro!</p>
        </div>
        <div>
            <h3>Envío gratis desde $ 2.500</h3>
            <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                productos. Es un beneficio de Mercado Puntos.</p>
        </div>
        <div>
            <h3>Seguridad, de principio a fin</h3>
            <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                porque estás siempre protegid@.</p>
        </div>
        <p>Copyright © 1999-2020 MercadoLiebre S.R.L.</p>

    </footer>
</body>
</html>